.idea/*
src/PheQTK/__pycache__/
src/PheQTK/helpers/__pycache__/
src/PheQTK/modules/__pycache__/
src/PheQTK/modules/cohorts/__pycache__/
src/PheQTK/modules/phecodes/__pycache__/
src/PheQTK/modules/phewas/__pycache__/
src/PheQTK/run_PheTK/__pycache__/
20_13093478_G_A_cohort_covariates.csv
20_13091168_C_T_cohort_covariates.csv